.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-radius: 5px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.203);
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.containerM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #ffec99;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.203);
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.taskContainer {
  display: flex;

  gap: 2rem;
}
.taskContainer span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
.taskContainer span p {
  font-size: 12px;
  margin-bottom: -1rem;
}

.container button {
  cursor: pointer;
  width: 1.8rem;
  background-color: #fff;

  display: flex;
  border: none;
}
.container input {
  cursor: pointer;
}
.container span {
  display: flex;
  gap: 1rem;
}

.containerM button {
  cursor: pointer;
  width: 1.8rem;
  background-color: #ffec99;

  display: flex;
  border: none;
}
.containerM input {
  cursor: pointer;
}
.containerM span {
  display: flex;
  gap: 1rem;
}
.movimentar {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.movimentar button {
  width: 1rem;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
