.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
}
.taskContainer {
  display: flex;
  gap: 1rem;
}
.container button {
  cursor: pointer;
  width: 1.8rem;
  background-color: #fff;

  display: flex;
  border: none;
}
.container input {
  cursor: pointer;
}
.container span {
  display: flex;
  gap: 1rem;
}
.movimentar {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.movimentar button {
  width: 1rem;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
